@font-face {
  font-family: "qweather-icons";
  src: url("./fonts/qweather-icons.woff2?t=1694412753405") format("woff2"),
  url("./fonts/qweather-icons.woff?t=1694412753405") format("woff");
}

@font-face {
  font-family: "qweather-icons-fill";
  src: url("./fonts/qweather-icons-fill.woff2?t=1694412753405") format("woff2"),
  url("./fonts/qweather-icons-fill.woff?t=1694412753405") format("woff");
}

[class^="qi-"], [class*=" qi-"] {
  display: inline-block;
  font-family: 'qweather-icons' !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="qi-"].fill, [class*=" qi-"].fill {
  font-family: 'qweather-icons-fill' !important;
}


.qi-100::before { content: "\64"; }
.qi-101::before { content: "\65"; }
.qi-102::before { content: "\66"; }
.qi-103::before { content: "\67"; }
.qi-104::before { content: "\68"; }
.qi-150::before { content: "\96"; }
.qi-151::before { content: "\97"; }
.qi-152::before { content: "\98"; }
.qi-153::before { content: "\99"; }
.qi-300::before { content: "\12c"; }
.qi-301::before { content: "\12d"; }
.qi-302::before { content: "\12e"; }
.qi-303::before { content: "\12f"; }
.qi-304::before { content: "\130"; }
.qi-305::before { content: "\131"; }
.qi-306::before { content: "\132"; }
.qi-307::before { content: "\133"; }
.qi-308::before { content: "\134"; }
.qi-309::before { content: "\135"; }
.qi-310::before { content: "\136"; }
.qi-311::before { content: "\137"; }
.qi-312::before { content: "\138"; }
.qi-313::before { content: "\139"; }
.qi-314::before { content: "\13a"; }
.qi-315::before { content: "\13b"; }
.qi-316::before { content: "\13c"; }
.qi-317::before { content: "\13d"; }
.qi-318::before { content: "\13e"; }
.qi-350::before { content: "\15e"; }
.qi-351::before { content: "\15f"; }
.qi-399::before { content: "\18f"; }
.qi-400::before { content: "\190"; }
.qi-401::before { content: "\191"; }
.qi-402::before { content: "\192"; }
.qi-403::before { content: "\193"; }
.qi-404::before { content: "\194"; }
.qi-405::before { content: "\195"; }
.qi-406::before { content: "\196"; }
.qi-407::before { content: "\197"; }
.qi-408::before { content: "\198"; }
.qi-409::before { content: "\199"; }
.qi-410::before { content: "\19a"; }
.qi-456::before { content: "\1c8"; }
.qi-457::before { content: "\1c9"; }
.qi-499::before { content: "\1f3"; }
.qi-500::before { content: "\1f4"; }
.qi-501::before { content: "\1f5"; }
.qi-502::before { content: "\1f6"; }
.qi-503::before { content: "\1f7"; }
.qi-504::before { content: "\1f8"; }
.qi-507::before { content: "\1fb"; }
.qi-508::before { content: "\1fc"; }
.qi-509::before { content: "\1fd"; }
.qi-510::before { content: "\1fe"; }
.qi-511::before { content: "\1ff"; }
.qi-512::before { content: "\200"; }
.qi-513::before { content: "\201"; }
.qi-514::before { content: "\202"; }
.qi-515::before { content: "\203"; }
.qi-800::before { content: "\320"; }
.qi-801::before { content: "\321"; }
.qi-802::before { content: "\322"; }
.qi-803::before { content: "\323"; }
.qi-804::before { content: "\324"; }
.qi-805::before { content: "\325"; }
.qi-806::before { content: "\326"; }
.qi-807::before { content: "\327"; }
.qi-900::before { content: "\384"; }
.qi-901::before { content: "\385"; }
.qi-999::before { content: "\3e7"; }
.qi-1001::before { content: "\3e9"; }
.qi-1002::before { content: "\3ea"; }
.qi-1003::before { content: "\3eb"; }
.qi-1004::before { content: "\3ec"; }
.qi-1005::before { content: "\3ed"; }
.qi-1006::before { content: "\3ee"; }
.qi-1007::before { content: "\3ef"; }
.qi-1008::before { content: "\3f0"; }
.qi-1009::before { content: "\3f1"; }
.qi-1010::before { content: "\3f2"; }
.qi-1011::before { content: "\3f3"; }
.qi-1012::before { content: "\3f4"; }
.qi-1013::before { content: "\3f5"; }
.qi-1014::before { content: "\3f6"; }
.qi-1015::before { content: "\3f7"; }
.qi-1016::before { content: "\3f8"; }
.qi-1017::before { content: "\3f9"; }
.qi-1018::before { content: "\3fa"; }
.qi-1019::before { content: "\3fb"; }
.qi-1020::before { content: "\3fc"; }
.qi-1021::before { content: "\3fd"; }
.qi-1022::before { content: "\3fe"; }
.qi-1023::before { content: "\3ff"; }
.qi-1024::before { content: "\400"; }
.qi-1025::before { content: "\401"; }
.qi-1026::before { content: "\402"; }
.qi-1027::before { content: "\403"; }
.qi-1028::before { content: "\404"; }
.qi-1029::before { content: "\405"; }
.qi-1030::before { content: "\406"; }
.qi-1031::before { content: "\407"; }
.qi-1032::before { content: "\408"; }
.qi-1033::before { content: "\409"; }
.qi-1034::before { content: "\40a"; }
.qi-1035::before { content: "\40b"; }
.qi-1036::before { content: "\40c"; }
.qi-1037::before { content: "\40d"; }
.qi-1038::before { content: "\40e"; }
.qi-1039::before { content: "\40f"; }
.qi-1040::before { content: "\410"; }
.qi-1041::before { content: "\411"; }
.qi-1042::before { content: "\412"; }
.qi-1043::before { content: "\413"; }
.qi-1044::before { content: "\414"; }
.qi-1045::before { content: "\415"; }
.qi-1046::before { content: "\416"; }
.qi-1047::before { content: "\417"; }
.qi-1048::before { content: "\418"; }
.qi-1049::before { content: "\419"; }
.qi-1050::before { content: "\41a"; }
.qi-1051::before { content: "\41b"; }
.qi-1052::before { content: "\41c"; }
.qi-1053::before { content: "\41d"; }
.qi-1054::before { content: "\41e"; }
.qi-1055::before { content: "\41f"; }
.qi-1056::before { content: "\420"; }
.qi-1057::before { content: "\421"; }
.qi-1058::before { content: "\422"; }
.qi-1059::before { content: "\423"; }
.qi-1060::before { content: "\424"; }
.qi-1061::before { content: "\425"; }
.qi-1062::before { content: "\426"; }
.qi-1063::before { content: "\427"; }
.qi-1064::before { content: "\428"; }
.qi-1065::before { content: "\429"; }
.qi-1066::before { content: "\42a"; }
.qi-1067::before { content: "\42b"; }
.qi-1068::before { content: "\42c"; }
.qi-1069::before { content: "\42d"; }
.qi-1071::before { content: "\42f"; }
.qi-1072::before { content: "\430"; }
.qi-1073::before { content: "\431"; }
.qi-1074::before { content: "\432"; }
.qi-1075::before { content: "\433"; }
.qi-1076::before { content: "\434"; }
.qi-1077::before { content: "\435"; }
.qi-1078::before { content: "\436"; }
.qi-1079::before { content: "\437"; }
.qi-1080::before { content: "\438"; }
.qi-1081::before { content: "\439"; }
.qi-1082::before { content: "\43a"; }
.qi-1084::before { content: "\43c"; }
.qi-1085::before { content: "\43d"; }
.qi-1086::before { content: "\43e"; }
.qi-1087::before { content: "\43f"; }
.qi-1088::before { content: "\440"; }
.qi-1089::before { content: "\441"; }
.qi-1201::before { content: "\4b1"; }
.qi-1202::before { content: "\4b2"; }
.qi-1203::before { content: "\4b3"; }
.qi-1204::before { content: "\4b4"; }
.qi-1205::before { content: "\4b5"; }
.qi-1206::before { content: "\4b6"; }
.qi-1207::before { content: "\4b7"; }
.qi-1208::before { content: "\4b8"; }
.qi-1209::before { content: "\4b9"; }
.qi-1210::before { content: "\4ba"; }
.qi-1211::before { content: "\4bb"; }
.qi-1212::before { content: "\4bc"; }
.qi-1213::before { content: "\4bd"; }
.qi-1214::before { content: "\4be"; }
.qi-1215::before { content: "\4bf"; }
.qi-1216::before { content: "\4c0"; }
.qi-1217::before { content: "\4c1"; }
.qi-1218::before { content: "\4c2"; }
.qi-1219::before { content: "\4c3"; }
.qi-1221::before { content: "\4c5"; }
.qi-1241::before { content: "\4d9"; }
.qi-1242::before { content: "\4da"; }
.qi-1243::before { content: "\4db"; }
.qi-1244::before { content: "\4dc"; }
.qi-1245::before { content: "\4dd"; }
.qi-1246::before { content: "\4de"; }
.qi-1247::before { content: "\4df"; }
.qi-1248::before { content: "\4e0"; }
.qi-1249::before { content: "\4e1"; }
.qi-1250::before { content: "\4e2"; }
.qi-1251::before { content: "\4e3"; }
.qi-1601::before { content: "\641"; }
.qi-1602::before { content: "\642"; }
.qi-1603::before { content: "\643"; }
.qi-1604::before { content: "\644"; }
.qi-1605::before { content: "\645"; }
.qi-1606::before { content: "\646"; }
.qi-1607::before { content: "\647"; }
.qi-1608::before { content: "\648"; }
.qi-1609::before { content: "\649"; }
.qi-1610::before { content: "\64a"; }
.qi-1701::before { content: "\6a5"; }
.qi-1702::before { content: "\6a6"; }
.qi-1703::before { content: "\6a7"; }
.qi-1801::before { content: "\709"; }
.qi-1802::before { content: "\70a"; }
.qi-1803::before { content: "\70b"; }
.qi-1804::before { content: "\70c"; }
.qi-1805::before { content: "\70d"; }
.qi-2001::before { content: "\7d1"; }
.qi-2002::before { content: "\7d2"; }
.qi-2003::before { content: "\7d3"; }
.qi-2004::before { content: "\7d4"; }
.qi-2005::before { content: "\7d5"; }
.qi-2006::before { content: "\7d6"; }
.qi-2007::before { content: "\7d7"; }
.qi-2029::before { content: "\7ed"; }
.qi-2030::before { content: "\7ee"; }
.qi-2031::before { content: "\7ef"; }
.qi-2032::before { content: "\7f0"; }
.qi-2033::before { content: "\7f1"; }
.qi-2050::before { content: "\802"; }
.qi-2051::before { content: "\803"; }
.qi-2052::before { content: "\804"; }
.qi-2053::before { content: "\805"; }
.qi-2054::before { content: "\806"; }
.qi-2070::before { content: "\816"; }
.qi-2071::before { content: "\817"; }
.qi-2072::before { content: "\818"; }
.qi-2073::before { content: "\819"; }
.qi-2074::before { content: "\81a"; }
.qi-2075::before { content: "\81b"; }
.qi-2076::before { content: "\81c"; }
.qi-2077::before { content: "\81d"; }
.qi-2078::before { content: "\81e"; }
.qi-2079::before { content: "\81f"; }
.qi-2080::before { content: "\820"; }
.qi-2081::before { content: "\821"; }
.qi-2082::before { content: "\822"; }
.qi-2083::before { content: "\823"; }
.qi-2084::before { content: "\824"; }
.qi-2085::before { content: "\825"; }
.qi-2100::before { content: "\834"; }
.qi-2101::before { content: "\835"; }
.qi-2102::before { content: "\836"; }
.qi-2103::before { content: "\837"; }
.qi-2104::before { content: "\838"; }
.qi-2105::before { content: "\839"; }
.qi-2106::before { content: "\83a"; }
.qi-2107::before { content: "\83b"; }
.qi-2108::before { content: "\83c"; }
.qi-2109::before { content: "\83d"; }
.qi-2111::before { content: "\83f"; }
.qi-2120::before { content: "\848"; }
.qi-2121::before { content: "\849"; }
.qi-2122::before { content: "\84a"; }
.qi-2123::before { content: "\84b"; }
.qi-2124::before { content: "\84c"; }
.qi-2125::before { content: "\84d"; }
.qi-2126::before { content: "\84e"; }
.qi-2127::before { content: "\84f"; }
.qi-2128::before { content: "\850"; }
.qi-2129::before { content: "\851"; }
.qi-2130::before { content: "\852"; }
.qi-2131::before { content: "\853"; }
.qi-2132::before { content: "\854"; }
.qi-2133::before { content: "\855"; }
.qi-2134::before { content: "\856"; }
.qi-2135::before { content: "\857"; }
.qi-2150::before { content: "\866"; }
.qi-2151::before { content: "\867"; }
.qi-2152::before { content: "\868"; }
.qi-2153::before { content: "\869"; }
.qi-2154::before { content: "\86a"; }
.qi-2155::before { content: "\86b"; }
.qi-2156::before { content: "\86c"; }
.qi-2157::before { content: "\86d"; }
.qi-2158::before { content: "\86e"; }
.qi-2159::before { content: "\86f"; }
.qi-2160::before { content: "\870"; }
.qi-2161::before { content: "\871"; }
.qi-2162::before { content: "\872"; }
.qi-2163::before { content: "\873"; }
.qi-2164::before { content: "\874"; }
.qi-2165::before { content: "\875"; }
.qi-2166::before { content: "\876"; }
.qi-2190::before { content: "\88e"; }
.qi-2191::before { content: "\88f"; }
.qi-2192::before { content: "\890"; }
.qi-2193::before { content: "\891"; }
.qi-2200::before { content: "\898"; }
.qi-2201::before { content: "\899"; }
.qi-2202::before { content: "\89a"; }
.qi-2203::before { content: "\89b"; }
.qi-2204::before { content: "\89c"; }
.qi-2205::before { content: "\89d"; }
.qi-2207::before { content: "\89f"; }
.qi-2208::before { content: "\8a0"; }
.qi-2209::before { content: "\8a1"; }
.qi-2210::before { content: "\8a2"; }
.qi-2211::before { content: "\8a3"; }
.qi-2212::before { content: "\8a4"; }
.qi-2213::before { content: "\8a5"; }
.qi-2214::before { content: "\8a6"; }
.qi-2215::before { content: "\8a7"; }
.qi-2216::before { content: "\8a8"; }
.qi-2217::before { content: "\8a9"; }
.qi-2218::before { content: "\8aa"; }
.qi-2300::before { content: "\8fc"; }
.qi-2301::before { content: "\8fd"; }
.qi-2302::before { content: "\8fe"; }
.qi-2303::before { content: "\8ff"; }
.qi-2304::before { content: "\900"; }
.qi-2305::before { content: "\901"; }
.qi-2306::before { content: "\902"; }
.qi-2307::before { content: "\903"; }
.qi-2308::before { content: "\904"; }
.qi-2309::before { content: "\905"; }
.qi-2311::before { content: "\907"; }
.qi-2312::before { content: "\908"; }
.qi-2313::before { content: "\909"; }
.qi-2314::before { content: "\90a"; }
.qi-2315::before { content: "\90b"; }
.qi-2316::before { content: "\90c"; }
.qi-2317::before { content: "\90d"; }
.qi-2318::before { content: "\90e"; }
.qi-2319::before { content: "\90f"; }
.qi-2320::before { content: "\910"; }
.qi-2321::before { content: "\911"; }
.qi-2322::before { content: "\912"; }
.qi-2323::before { content: "\913"; }
.qi-2324::before { content: "\914"; }
.qi-2325::before { content: "\915"; }
.qi-2326::before { content: "\916"; }
.qi-2327::before { content: "\917"; }
.qi-2328::before { content: "\918"; }
.qi-2330::before { content: "\91a"; }
.qi-2331::before { content: "\91b"; }
.qi-2332::before { content: "\91c"; }
.qi-2333::before { content: "\91d"; }
.qi-2341::before { content: "\925"; }
.qi-2343::before { content: "\927"; }
.qi-2345::before { content: "\929"; }
.qi-2346::before { content: "\92a"; }
.qi-2348::before { content: "\92c"; }
.qi-2349::before { content: "\92d"; }
.qi-2350::before { content: "\92e"; }
.qi-2351::before { content: "\92f"; }
.qi-2352::before { content: "\930"; }
.qi-2353::before { content: "\931"; }
.qi-2354::before { content: "\932"; }
.qi-2355::before { content: "\933"; }
.qi-2356::before { content: "\934"; }
.qi-2357::before { content: "\935"; }
.qi-2358::before { content: "\936"; }
.qi-2359::before { content: "\937"; }
.qi-2360::before { content: "\938"; }
.qi-2361::before { content: "\939"; }
.qi-2362::before { content: "\93a"; }
.qi-2363::before { content: "\93b"; }
.qi-2364::before { content: "\93c"; }
.qi-2365::before { content: "\93d"; }
.qi-2366::before { content: "\93e"; }
.qi-2367::before { content: "\93f"; }
.qi-2368::before { content: "\940"; }
.qi-2369::before { content: "\941"; }
.qi-2370::before { content: "\942"; }
.qi-2371::before { content: "\943"; }
.qi-2372::before { content: "\944"; }
.qi-2373::before { content: "\945"; }
.qi-2374::before { content: "\946"; }
.qi-2375::before { content: "\947"; }
.qi-2376::before { content: "\948"; }
.qi-2377::before { content: "\949"; }
.qi-2378::before { content: "\94a"; }
.qi-2379::before { content: "\94b"; }
.qi-2380::before { content: "\94c"; }
.qi-2381::before { content: "\94d"; }
.qi-2382::before { content: "\94e"; }
.qi-2383::before { content: "\94f"; }
.qi-2384::before { content: "\950"; }
.qi-2385::before { content: "\951"; }
.qi-2386::before { content: "\952"; }
.qi-2387::before { content: "\953"; }
.qi-2388::before { content: "\954"; }
.qi-2389::before { content: "\955"; }
.qi-2390::before { content: "\956"; }
.qi-2391::before { content: "\957"; }
.qi-2392::before { content: "\958"; }
.qi-2393::before { content: "\959"; }
.qi-2394::before { content: "\95a"; }
.qi-2395::before { content: "\95b"; }
.qi-2396::before { content: "\95c"; }
.qi-2397::before { content: "\95d"; }
.qi-2398::before { content: "\95e"; }
.qi-2399::before { content: "\95f"; }
.qi-2400::before { content: "\960"; }
.qi-2409::before { content: "\969"; }
.qi-2411::before { content: "\96b"; }
.qi-2412::before { content: "\96c"; }
.qi-2413::before { content: "\96d"; }
.qi-2414::before { content: "\96e"; }
.qi-2415::before { content: "\96f"; }
.qi-2416::before { content: "\970"; }
.qi-2417::before { content: "\971"; }
.qi-2418::before { content: "\972"; }
.qi-2419::before { content: "\973"; }
.qi-2420::before { content: "\974"; }
.qi-2421::before { content: "\975"; }
.qi-2422::before { content: "\976"; }
.qi-2423::before { content: "\977"; }
.qi-2424::before { content: "\978"; }
.qi-2425::before { content: "\979"; }
.qi-2426::before { content: "\97a"; }
.qi-9998::before { content: "\270e"; }
.qi-9999::before { content: "\270f"; }
.qi-qweather::before { content: "\ea60"; }

