// more normalize
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// html and body
html {
  font-size: $base-font-size;
  position: relative;
  min-height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  // padding-top: 50px;
  background-color: $bg-color;
  color: $font-color;
  margin-bottom: 294px;
}

// text
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  color: $color-black;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.5rem;
}

kbd {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border-style: outset;
  border: 1px solid #aaa;
  ;
  background: #fafafa;
  padding: 1px 4px;
  margin: 1px;
  vertical-align: baseline;
  white-space: nowrap;
  font-size: 1.4rem;
  font-family: $code-font-family;
}

small,
.small {
  font-size: 85%;
}
.big {
  font-size: 125%;
}
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-bold {
  font-weight: 700;
}

.text-lighter {
  font-weight: lighter;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-muted {
  color: #777777;
}

.text-gray {
  color: #9e9e9e;
}

.text-warning {
  color: #a94442;
}

.text-good {
  color: #3c763d;
}

p {
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-space;
  margin-top: 0;
}

// code 
code,
pre {
  font-family: $code-font-family;
}

code {
  background-color: $code-bg-color;
  padding: 1px 4px;
  color: $font-color;
  margin: 0 .1rem;
  font-size: 1.4rem;
  border-radius: 4px;
}

pre {
  display: block;
  padding: 15px;
  margin-top: 0;
  margin-bottom: 1rem;
  background-color: $code-bg-color;
  overflow-x: auto;

  code {
    padding: 0;
    // white-space: pre-wrap;
  }

}

.pre-scrollable {
  max-height: 300px;
  overflow-y: scroll;
}

.no-bg {
  background-color: transparent !important;
  background-image: none !important;
}

// layout 

// .container {
//   max-width: $page-width;
// }

.sticky-top {
  position: sticky !important;
  top: 0% !important;
  position: -webkit-sticky !important;
  z-index: 10 !important;
}

.fixed-top {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  z-index: 10 !important;
}

.go-left {
  float: left !important;
}

.go-right {
  float: right !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

// blockquote
blockquote {
  display: block;
  padding: 15px 0;
  margin: 20px 0;
  font-size: 1.4rem;
  color: #004085;
  background-color: #edf7fe;
  border-radius: 8px;
  border: 1px solid #bde2fb;

  & p:last-child,
  & ul:last-child,
  & ol:last-child {
    margin-bottom: 0;
  }

  p {
    padding: 0 30px;
  }
}

// link
a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $link-color;
  }

  &:active,
  &:focus {
    color: $link-color;
  }
}

.no-underline {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none !important;
  }

  a {
    &:hover,
    &:focus,
    &:active {
      text-decoration: none !important;
    }
  }
}

// label
.label {
  display: inline;
  padding: 2px 4px;
  margin: 0 5px;
  font-size: $small-font-size;
  font-weight: $font-weight-light;
  line-height: 1;
  color: $color-grey;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
}

.required {
  background-color: #fde8d5;
}

.optional {
  background-color: #d2e9d4;
}

.official {
  background-color: #dcf2f9;
}


//button

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  padding: 6px 12px;
  font-size: 1.4rem;
  line-height: 1.42857143;
  border-radius: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
  }
}

.btn-download {
  background-color: $link-color;
  padding: 15px 20px;
  color: #f0f0f0;
  border: none;
  border-radius: 15px;
  // margin-bottom: 10px;
  &:hover,
  &:focus {
    color: #fff;
    border: none;
    text-decoration: none;
  }
}

.btn-dark {
  background-color: #252A31;
  color: #f0f0f0;
  border: none;
  border-radius: 15px;
  &:hover,
  &:focus {
    color: #fff;
    border: none;
    text-decoration: none;
  }
}

.btn-line {
  background-color: transparent;
  color: $link-color;
  border: 1px solid $link-color;

  &:hover,
  &:focus {
    color: $color-light;
    background-color: $link-color;
    border: 1px solid $link-color;
    text-decoration: none;
  }
}

.btn-long {
  padding-left: 6rem;
  padding-right: 6rem;
}


// responsive

@media (max-width: 767px) {
  body {
    // padding-top: 116px;
    margin-bottom: 460px;
  }
}